<div class="mobile">
    <div>
        <button (click)="toggleMenu()">
            <a href="">
                <img src="./assets/svg/icon_menu.svg" alt="menu"/>
            </a>
        </button>
        <a href="">
            <img src="./assets/images/logo-fix.png" alt="logo"/>
        </a>
        <a href="">
            <img src="./assets/svg/icon_shopping_cart.svg" alt="logo"/>
        </a>

    </div>
    <div class="side-menu" [class.active]="activeMenu">
        <button (click)="toggleMenu()">Cerrar</button>
        <button mat-raised-button color="primary">Entrar</button>
    </div>
</div>

<div class="desktop">
    <div>
        <nav>
            <a class="logo" href="">
                <img src="./assets/images/logo-fix.png" alt="logo"/>
            </a>
            
        </nav>
        <div class="info">
            <div class="account">
                <button mat-raised-button color="primary">Entrar</button>
            </div>
            <div class="cart">
                <a href="">
                    <img src="./assets/svg/icon_shopping_cart.svg" alt="logo" />
                </a>
                <span class="counter">{{counter}}</span>
            </div>
        </div>
    </div>
</div>


