.mobile{
    display: block;
    box-shadow: 0px 2px 5px rgb(black, .2);
    > div {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            border: 0;
            background: transparent;
        
        }

    }
}
.desktop{
    display: none;
    box-shadow: 0px 2px 5px rgb(black, .2);
    > div {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .logo {
        margin-right: 1em;

    }
    nav {
        display: flex;
        align-items: center;
    }
    .info {
        display: flex;
        align-items: center;
        .account {
            margin-right: .5em;
        }
    }
}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9em) {
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
}

/* Large and up */

@media screen and (min-width: 64em) {
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
}