/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color:white; background: rgb(208,207,217);
  background: linear-gradient(31deg, rgba(0,0,0,0.9948354341736695) 62%,rgba(11,61,71,100) 75%, rgba(208,207,217,1) 99%,);}

